@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@200;400;600&display=swap');
@import url(nav.css);
@import url(footer.css);
@import url(forms.css);
@import url(confirm.css);
@import url(JS.css);

:root{
    --black: #000;
    --light-grey: #333;
    --red: #c82113;
    --dark-red: #94180e;
    --light-blue: #1085df;
    --dark-blue: #0e5a94;
}

.container-main {
    border-style: solid;
    border-color: #111;
    max-width: 950px;
    margin: auto;
}

/* MAIN HEADER */
.header-main {
    position: relative;
}

.header-main img {
    display: block;
    width: 100%;
}

.header-main hgroup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-main hgroup img {
    width: 30%;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* MAIN CONTENT */

section {
    font-family: 'Sofia Sans Condensed', sans-serif;
    padding: 1rem;
}

.section-one footer a {
    text-decoration: none;
    color: var(--black);
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.section-one h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 50px;
    margin: auto;
    padding-top: 1rem;
    color: var(--red);
}

section img {
    display: block;
    width: 100%;
}

section:first-of-type div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-left: 5px;
    padding-right: 5px;
}
section:nth-child(2) div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.section-two h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 50px;
    margin: auto;
    padding-top: 1rem;
    color: var(--red);
}

.h2-favorit {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 50px;
    margin: auto;
    padding-top: 3rem;
    color: var(--red);
    padding-left: 1rem;
}

.section-three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.favorit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.favorit img {
    width: 100%;
}

.stor img {
    width: 100%;
}