ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
  
li:last-of-type a{
    color: var(--light-blue);
}

li a {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    display: block;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
  
li a:hover {
    background-color: #333333;
}